body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 15px;
}

.footer_ascii {
    text-align: center;
}

.name_ascii {
    text-align: center;
    color: #fff ;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 15px, rgba(255, 255, 255, 1) 0px 0px 10px;
}

nav {

    text-align: center;
    color: red;
}

a {
    color: white;
}

.badges {
    text-align: center;
    padding-top: 30px;
}

.summary {
    text-decoration: none;
}